@page
@model EditModel
@{
    ViewData["Title"] = "Server";
}

<div class="text-center">

    <h2>Edit</h2>

    <h4>Server - @Model.Data.Name</h4>
    <hr/>
    <div class="row">
        <div>
            <form method="post">

                <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Data.Name"/>
                <input type="hidden" asp-for="Data.FileLastModified"/>

                @foreach (var property in Model.Data.Properties)
                {
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">@property.Key</label>
                        <div class="col-sm-10">
                            <input asp-for="@Model.Data.Properties[property.Key]" class="form-control"/>
                        </div>
                    </div>
                }

                <div id="btn-group" class="form-group">
                    <a class="btn btn-sm btn-secondary" href="Index" role="button">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-sm btn-primary"/>
                    <button id="btn-new" type="button" class="btn btn-sm btn-success float-end">Add Property</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <select class="form-select" id="newPropertyName">
                    <option value="">Please select</option>
                    @foreach (var property in Model.Data.Defaults.Keys)
                    {
                        <option value="@property">@property</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Accept</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/edit.js" asp-append-version="true"></script>
}